.ekart--search--product{
    margin: 20px auto;
    text-align: center;
}
.ekart-search-product-input{
    width: 40%;
    height: 5.5vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 32px;
    background-color: #efefef;
    border:#28282B 1px solid;
}

.ekart-search-product-input::placeholder{
    padding-left: 5px;
}


.btn{
    padding: 5px 10px;
    border: none;
}
.btn-search{
    padding: 9.5px 30px;
    background-color: #28282B;
    margin-left: 0px;
    color:#fff;
    border-radius: 2px solid;
    margin-bottom: 4px;
    
}

.btn--search--disabled{
    padding: 12px 30px;
    background-color: #aaa;
    margin-left: -1px;
    color: #999;
    border: #aaa 1px solid;
    cursor: not-allowed | no-drop;
}

.ekart-search-result-for{
    margin: 20px auto;
    padding: 10px 140px;
}